.contacts {
   position: relative;
   padding-top: 200px;
   padding-bottom: 55px;
   background-image: url(./../../img/icons/bg.svg);
   background-size: cover;
   color: #fff;

   &::before {
      position: absolute;
      bottom: -1px;
      left: 50%;
      content: "";
      display: block;
      width: 743px;
      height: 372px;
      background-image: url(./../../img/icons/oval.svg);
      background-size: initial;
   }

   &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      content: "";
      display: block;
      width: 478px;
      height: 547px;
      background-image: url(./../../img/pic/girl.png);
      background-size: initial;
      margin-left: 79px;
   }

   &__title {
      margin-bottom: 15px;
      max-width: 360px;
   }

   &__text {
      margin-bottom: 30px;
      max-width: 342px;
   }
}
