.header {
   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__text {
      width: 465px;
   }

   &__text p {
      line-height: 1.6875;
      margin-bottom: 1em;
   }

   &__title {
      position: relative;
      z-index: 9;
      margin-right: -160px;
      margin-bottom: 25px;
      font-size: 54px;
      font-weight: 700;
      line-height: 1.46;
   }

   &__img img {
      border-radius: 40px 40px 40px 0px;
   }

   &__form {
      margin-top: 42px;
   }
}
